<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesQms.Shipment.QmsShipmentMapper">
    <select id="qmsProdErrorManGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_NG_GET  #{page}, #{rows}, #{start_date}, #{end_date}
    </select>

    <select id="qmsProdErrorManOneGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_NG_GET  1, 1, '', '',#{in_no},#{part_code}
    </select>



    <select id="qmsProdMRBGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_MRB_GET #{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

    <select id="qmsProdMRBAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_MRB_ADD  #{keyword}
    </select>

    <select id="qmsProdMRBCancel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_MRB_CANCEL  #{keyword}
    </select>
    <select id="qmsProdGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD">
            EXEC [SP_QMS_PROD_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,'0' ,''
    </select>
    <select id="qmsProdSubGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC [SP_QMS_PROD_SUB_GET]  #{page}, #{rows}, #{keyword}
    </select>
    <select id="qmsProdAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_INSP_ADD #{user_code},#{in_no},#{keyword}, #{keyword2}
    </select>
    <select id="qmsProdListRPTGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_RPT">
        EXEC SP_QMS_PROD_RPT_GET #{page},#{rows},#{keyword},#{keyword2}
    </select>
    <update id="qmsProdErrorManAdd">
        UPDATE QMS_PROD_SUB
        SET
            ACT_TYPE = #{key3}
            WHERE
            QC_NO = #{key1}
    </update>
    <update id="qmsProdErrorManAdd2">
        UPDATE QMS_PROD_SUB
        SET
            FILE2 = #{key_value},
            ACT_TYPE = #{key3}
            WHERE
            QC_NO = #{key1}
    </update>
    <update id="qmsProdErrorManAdd3">
        UPDATE QMS_PROD_SUB
        SET
            FILE3 = #{key_value},
            ACT_TYPE = #{key3}
            WHERE
            QC_NO = #{key1}
    </update>
    <update id="qmsProdErrorManAdd_AllFile">
        UPDATE QMS_PROD_SUB
        SET
            ${name} = #{key_value},
            ACT_TYPE = #{key3}
            WHERE
            QC_NO = #{key1}
    </update>

    <select id="qmsProdErrorListSumGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_NG_SUM">
            EXEC SP_QMS_PROD_NG_SUM_GET  #{start_date}, #{end_date},#{keyword3}
    </select>


    <select id="qmsProdListOneGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
        EXEC SP_QMS_PROD_SUB_DATE_GET 1,1,'','','',#{qc_no},''
    </select>

    <update id="sysSPartFile1Add">
        UPDATE SYS_SPART_CD
        SET
            FILE1 = #{key_value}
            WHERE
            SUPP_CODE = #{key1} AND PART_KIND = #{key2} AND PART_CODE = #{key3}
    </update>

    <select id="qmsInspMachineDel" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_QMS_INSP_MACHINE_DEL #{keyword}
    </select>

    <select id="qmsInspMachineGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_INSP_MACHINE">
        EXEC SP_QMS_INSP_MACHINE_GET  #{page}, #{rows}, #{keyword}
    </select>

    <select id="qmsInspMachineOneGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_INSP_MACHINE">
        EXEC SP_QMS_INSP_MACHINE_GET  1,1, #{keyword}
    </select>

    <select id="qmsInspMachineAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_INSP_MACHINE_ADD #{machine_code}, #{machine_name},#{device_no},#{capa},#{spec},#{correct_corp_name},
        #{correct_date},#{end_date},#{alarm_day},#{key_value},#{user_code},#{keyword}
    </select>

    <select id="qmsProdListGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
        EXEC SP_QMS_PROD_LIST_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2}
    </select>

     <select id="qmsProdListModalGet" resultType="com.mes.mesQms.Shipment.DTO.QMS_PROD_SUB">
        EXEC SP_QMS_PROD_LIST_MODAL_GET 0,0,#{keyword}
    </select>

    <select id="qmsProdListDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_LIST_DEL #{keyword}
    </select>

    <select id="qmsProdListUpload" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_LIST_UPLOAD #{qc_no},#{allpath},#{savefile},#{original_name},#{key_value},#{size},#{user_code}
    </select>

    <select id="qmsProdErrorReqAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_ERROR_REQ_ADD #{ret_no},#{work_date},#{supp_code},#{part_code},#{part_kind},#{lot_no},#{ng_type},#{ng_name},#{report_type},#{report_date},#{measuer_name},#{act_type},#{act_date},#{key_value},#{key_value2},#{ret_dept_code},#{ret_user_code},#{user_code},#{keyword}
    </select>

    <select id="qmsFileAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_SYS_FILE_ADD2 #{user_code},#{key_value},#{savefile},#{original_name},#{size},0,#{allpath},#{savefile}
    </select>



</mapper>