<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesPop.Status.MesPopStatusMapper">
    <select id="popPlanOrderGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN_ORD_CD">
        EXEC SP_POP_PLAN_ORD_GET #{page},#{rows},#{start_date},#{stop_date},''
    </select>

    <select id="popPlanOrderOrd" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN_ORD_CD">
        EXEC SP_POP_PLAN_ORD_ORD #{keyword},#{user_code}
    </select>

    <select id="popProdRangeGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
        EXEC SP_POP_PROD_RANGE_GET #{page},#{rows},#{start_date},#{stop_date},#{supp_code},#{part_kind},#{keyword}
    </select>

    <select id="popProdList1Get" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
        EXEC SP_POP_PROD_LIST1_GET #{page},#{rows},#{start_date},#{stop_date},#{supp_code},#{part_kind},#{keyword}
    </select>

    <update id="sysSPartDrawingAdd">
        UPDATE SYS_SPART_CD
        SET
            FILE2 = #{key_value},
            remark2 = #{remark2}
            WHERE
            SUPP_CODE = #{key1} AND PART_KIND = #{key2} AND PART_CODE = #{key3}
    </update>

    <update id="sysSPartDrawingAdd2">
        UPDATE SYS_SPART_CD
        SET
            remark2 = #{remark2}
            WHERE
            SUPP_CODE = #{key1} AND PART_KIND = #{key2} AND PART_CODE = #{key3}
    </update>

    <update id="sysSPartWoodAdd">
        UPDATE SYS_SPART_CD
        SET
            FILE3 = #{key_value},
            wood_type1 = #{wood_type1},
            wood_type2 = #{wood_type2},
            wood_type3 = #{wood_type3},
            wood_type4 = #{wood_type4},
            wood_in_date = #{wood_in_date},
            wood_supp_name = #{wood_supp_name},
            wood_remark = #{wood_remark}
            WHERE
            SUPP_CODE = #{key1} AND PART_KIND = #{key2} AND PART_CODE = #{key3}
    </update>

    <update id="sysSPartWoodAdd2">
        UPDATE SYS_SPART_CD
        SET
            wood_type1 = #{wood_type1},
            wood_type2 = #{wood_type2},
            wood_type3 = #{wood_type3},
            wood_type4 = #{wood_type4},
            wood_in_date = #{wood_in_date},
            wood_supp_name = #{wood_supp_name},
            wood_remark = #{wood_remark}
            WHERE
            SUPP_CODE = #{key1} AND PART_KIND = #{key2} AND PART_CODE = #{key3}
    </update>


    <select id="popProdListGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_PROD_LIST_GET #{page},#{rows},#{start_date},#{end_date},#{supp_code},#{keyword}
    </select>

     <select id="popProdAnalysisGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_PROD_ANALYSIS_GET #{page},#{rows},#{start_date},#{end_date}
    </select>

     <select id="popProdReport1Get" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_PROD_REPORT1_GET #{page},#{rows},#{start_date},#{end_date},#{supp_code},#{part_kind}
    </select>

     <select id="popSpectroGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_SPECTRO_GET #{page},#{rows},#{work_date},#{supp_code},#{part_kind}
    </select>

     <select id="sysProdHRGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PROD_MHR">
    EXEC SP_SYS_PROD_HR_GET #{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

     <select id="sysProdSumGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_SYS_PROD_SUM_GET #{page},#{rows},#{work_date},#{supp_code},#{part_kind}
    </select>

    <select id="popProdList2Get" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_PROD_LIST2_GET #{page},#{rows},#{work_date},#{keyword},#{keyword2}
    </select>

    <select id="popProdReportGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_PROD_REPORT_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2}
    </select>

    <select id="popMonitoringGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_MONITORING_GET #{page},#{rows}
    </select>

    <select id="popLotTrackingGet" resultType="com.mes.mesPop.PopStatus.DTO.POP_PLAN">
    EXEC SP_POP_LOT_TRAC_KING_GET #{page},#{rows},#{keyword}
    </select>

    <select id="sysProdHrAdd" resultType="com.mes.Common.DataTransferObject.Message">
    EXEC SP_SYS_PROD_HR_ADD #{work_date},#{line_code},#{wk_qty},#{wk_qty1}#{wk_qty2},#{wk_qty3},#{wk_qty4},#{wk_qty5},#{keyword}
    </select>





</mapper>
