<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesCrm.Standard.StandardMapper">

    <select id="sysSpartCostAdd" resultType="com.mes.Common.DataTransferObject.Message">
    EXEC SP_SYS_SPART_COST_ADD #{supp_code},#{part_kind},#{part_code},#{start_date},#{unit_cost},#{user_code}
    </select>

    <select id="sysSPartDel" resultType="com.mes.Common.DataTransferObject.Message">
    EXEC  SP_SYS_SPART_DEL #{keyword}
    </select>

    <select id="sysSPartCostDel" resultType="com.mes.Common.DataTransferObject.Message">
    EXEC  SP_SYS_SPART_COST_DEL #{keyword}
    </select>

    <select id="sysERateAdd" resultType="com.mes.Common.DataTransferObject.Message">
    EXEC SP_SYS_ERATE_ADD #{currency_code},#{start_date},#{stop_date},#{exch_rate},#{user_code},#{keyword}
    </select>

    <select id="sysERateGet" resultType="com.mes.mesCrm.Standard.DTO.SYS_ERATE">
        EXEC SP_SYS_ERATE_GET_LIST #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2}
    </select>

     <select id="sysERateOneGet" resultType="com.mes.mesCrm.Standard.DTO.SYS_ERATE">
        EXEC SP_SYS_ERATE_GET_LIST 1,1,'','',#{keyword},#{keyword2}
    </select>

    <select id="sysERateDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_SYS_ERATE_DEL #{keyword}
    </select>

    <select id="sysSpartAllGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_SPART">
		SELECT PART_CODE, PART_NAME FROM SYS_SPART_CD WHERE SUPP_CODE = #{keyword} AND PART_KIND = #{keyword2} ORDER BY PART_CODE
	</select>

    <select id="sysSpartOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_SPART">
		EXEC SP_SYS_SPART_GET_LIST 1,1,#{keyword},#{keyword2},#{keyword3},''
	</select>

</mapper>
