<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesOut.Stock.OutsStockMapper">
    <select id="outsStockSumGet" resultType="com.mes.mesOut.stock.DTO.OUTS_STOCK">
            EXEC [SP_OUTS_STOCK_SUM_GET]  #{page},#{rows},'',#{keyword},#{keyword2},#{keyword3}
    </select>
    <select id="outsStockSumAllGet" resultType="com.mes.mesOut.stock.DTO.OUTS_STOCK">
            EXEC [SP_OUTS_STOCK_SUM_GET2]  #{page},#{rows},#{work_date},#{keyword},#{keyword2},#{keyword3}
    </select>

    <select id="outsStockSumMonthGet" resultType="com.mes.mesOut.stock.DTO.OUTS_STOCK">
            EXEC [SP_OUTS_STOCK_SUM_MONTH_GET] #{page},#{rows},#{work_date},#{keyword},#{keyword2},#{keyword3}
    </select>

    <select id="outsErrorGet" resultType="com.mes.mesOut.stock.DTO.OUTS_STOCK">
            EXEC [SP_OUTS_ERROR_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,#{keyword},#{keyword2}
    </select>

    <select id="outsSelectGet" resultType="com.mes.mesOut.stock.DTO.OUTS_STOCK">
            EXEC [SP_OUTS_SELECT_GET]  #{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>

    <select id="outsErrorAdd" resultType="com.mes.Common.DataTransferObject.Message">
            EXEC [SP_OUTS_ERROR_ADD] #{work_date},#{ng_no},#{supp_code},#{part_kind},#{part_code},#{lot_no},#{qc_result},#{result_code2},#{result_code3},#{user_code},#{keyword}
    </select>

 <select id="outsErrorDel" resultType="com.mes.Common.DataTransferObject.Message">
            EXEC [SP_OUTS_ERROR_DEL]  #{keyword}
    </select>


</mapper>
