<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesCrm.Orders.CrmOrdersMapper">

	<select id="crmOrderRecpGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},''
    </select>

	<select id="crmOrderRecpOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET 1, 1,'', '','' ,#{keyword}
    </select>

	<select id="crmOrderRecpAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_ORD_RECP_ADD #{ord_no},#{work_date},#{supp_code},#{part_kind},#{part_code},#{po_no},#{part_weight},#{unit_cost},
						#{qty},#{price_amount},#{user_code},#{keyword}
	</select>

	<select id="crmOrderRecpDel" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_DEL  #{keyword}
	</select>

	<select id="crmOrderRecpComp" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_COMP  #{keyword}
	</select>

	<select id="crmOrderRecpModalGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_MODAL_GET 0, 0,#{start_date}, #{end_date}, #{keyword}
    </select>


	<select id="wmsOutOrderAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_WMS_OUT_ORD_ADD #{req_no},#{work_date},#{ship_date},#{supp_code},#{delivery_place},#{keyword2},#{keyword},#{user_code}
	</select>
	<select id="wmsOutOrderGet" resultType="com.mes.mesCrm.Orders.DTO.WMS_OUT_ORD_SUB">
		EXEC SP_WMS_OUT_ORD_SUB_GET #{page}, #{rows},#{start_date}, #{end_date}, #{keyword},''
    </select>

	<select id="wmsOutOrderOneGet" resultType="com.mes.mesCrm.Orders.DTO.WMS_OUT_ORD_SUB">
		EXEC SP_WMS_OUT_ORD_SUB_GET 0, 0,'', '','', #{keyword}
    </select>

	<select id="wmsOutOrderDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_WMS_OUT_ORD_SUB_DEL #{keyword}
    </select>

	<select id="wmsOutOrderComp" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_WMS_OUT_ORD_SUB_COMP #{keyword}
    </select>

	<select id="crmShippingWmsOutGet" resultType="com.mes.mesWms.InOut.DTO.WMS_OUT_SUB">
		EXEC SP_WMS_OUT_LIST_CRM_SHIPPING_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},''
    </select>

	<select id="crmShippingWmsOutOneGet" resultType="com.mes.mesWms.InOut.DTO.WMS_OUT_SUB">
		EXEC SP_WMS_OUT_LIST_CRM_SHIPPING_GET 1,1,'','','',#{keyword}
    </select>

	<select id="crmShippingAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_SHIPPING_ADD
		#{out_no},
	
		#{ship_cost},

		#{port_cost1},
		#{port_cost2},
		#{port_cost3},
		#{port_cost4},
		#{port_cost5},

		#{unloading_cost},
		#{landing_ost},
		#{harbor_facility},
		#{local_cost},
		#{customs_fee},

		#{wood_code1},
		#{wood_qty1},
		#{wood_cost1},

		#{wood_code2},
		#{wood_qty2},
		#{wood_cost2},

		#{wood_code3},
		#{wood_qty3},
		#{wood_cost3},

		#{total_cost},
		#{weight},
		#{unit_cost},

		#{user_code},
		#{keyword}
	</select>


	<select id="crmShippingGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_SHIPPING">
		EXEC SP_CRM_SHIPPING_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},''
    </select>

	<select id="crmShippingOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_SHIPPING">
		EXEC SP_CRM_SHIPPING_GET 1,1,'','','','',#{keyword}
    </select>

	<select id="crmShippingDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_CRM_SHIPPING_DEL #{keyword}
    </select>
</mapper>
