<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesCrm.Orders.CrmOrdersMapper">

	<select id="crmOrderRecpGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},''
    </select>

	<select id="crmOrderRecpGet2" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET2 #{page},#{rows},#{start_date},#{end_date},#{keyword},'',#{sidx},#{sord},#{keyword2},#{keyword3},#{keyword4}
    </select>

	<select id="crmOrderRecpEndDateGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_END_DATE_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},'',#{sidx},#{sord},#{keyword2},#{keyword3},#{keyword4}
    </select>
	<select id="crmOrderRecpOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET 1, 1,'', '','' ,#{keyword}
    </select>

	<select id="crmOrderRecpAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_ORD_RECP_ADD #{ord_no},#{work_date},#{supp_code},#{part_kind},#{part_code},#{po_no},#{part_weight},#{unit_cost},
						#{qty},#{price_amount},#{end_date},#{user_code},#{keyword}
	</select>

	<select id="crmOrderRecpDel" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_DEL  #{keyword}
	</select>

	<select id="crmOrderRecpComp" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_COMP  #{keyword} ,#{user_code}
	</select>

	<select id="crmOrderRecpCancel" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_CANCEL  #{keyword},#{user_code}
	</select>

	<select id="crmOrderRecpModalGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_MODAL_GET2 0, 0,#{start_date}, #{end_date}, #{keyword},#{sidx},#{sord}
    </select>


	<select id="wmsOutOrderAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_WMS_OUT_ORD_ADD #{req_no},#{work_date},#{ship_date},#{supp_code},#{delivery_place},#{keyword2},#{keyword},#{user_code}
	</select>
	<select id="wmsOutOrderGet" resultType="com.mes.mesCrm.Orders.DTO.WMS_OUT_ORD_SUB">
		EXEC SP_WMS_OUT_ORD_SUB_GET2 #{page}, #{rows},#{start_date}, #{end_date}, #{keyword},'',#{keyword2},#{sidx},#{sord}
    </select>

	<select id="wmsOutOrderOneGet" resultType="com.mes.mesCrm.Orders.DTO.WMS_OUT_ORD_SUB">
		EXEC SP_WMS_OUT_ORD_SUB_GET 0, 0,'', '','', #{keyword}
    </select>

	<select id="wmsOutOrderUpdateGet" resultType="com.mes.mesCrm.Orders.DTO.WMS_OUT_ORD_SUB_UPDATE">
		EXEC SP_WMS_OUT_ORD_SUB_ONE_GET #{req_no},#{ord_no},#{supp_code},#{part_kind},#{part_code}
    </select>

	<select id="wmsOutOrderUpdate" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_WMS_OUT_ORD_SUB_UPDATE #{req_no},#{ord_no},#{supp_code},#{part_kind},#{part_code},#{ord_qty},#{prev_qty},#{wms_qty},#{comp_qty},#{qty},#{update_qty},#{user_code}
    </select>

	<select id="wmsOutOrderDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_WMS_OUT_ORD_SUB_DEL #{keyword}
    </select>

	<select id="wmsOutOrderComp" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_WMS_OUT_ORD_SUB_COMP #{keyword}
    </select>

	<select id="crmShippingWmsOutGet" resultType="com.mes.mesWms.InOut.DTO.WMS_OUT_SUB">
		EXEC SP_WMS_OUT_LIST_CRM_SHIPPING_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},''
    </select>

	<select id="crmShippingWmsOutOneGet" resultType="com.mes.mesWms.InOut.DTO.WMS_OUT_SUB">
		EXEC SP_WMS_OUT_LIST_CRM_SHIPPING_GET 1,1,'','','',#{keyword}
    </select>

	<select id="crmShippingAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_SHIPPING_ADD
		#{out_no},
	
		#{ship_cost},

		#{port_cost1},
		#{port_cost2},
		#{port_cost3},
		#{port_cost4},
		#{port_cost5},

		#{unloading_cost},
		#{landing_ost},
		#{harbor_facility},
		#{local_cost},
		#{customs_fee},

		#{wood_code1},
		#{wood_qty1},
		#{wood_cost1},

		#{wood_code2},
		#{wood_qty2},
		#{wood_cost2},

		#{wood_code3},
		#{wood_qty3},
		#{wood_cost3},

		#{total_cost},
		#{weight},
		#{unit_cost},

		#{user_code},
		#{keyword}
	</select>


	<select id="crmShippingGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_SHIPPING">
		EXEC SP_CRM_SHIPPING_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},''
    </select>

	<select id="crmShippingOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_SHIPPING">
		EXEC SP_CRM_SHIPPING_GET 1,1,'','','','',#{keyword}
    </select>

	<select id="crmShippingDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_CRM_SHIPPING_DEL #{keyword}
    </select>

	<select id="crmPerformGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_PERFORM_GET3 #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},#{keyword3},#{sidx},#{sord}
    </select>

	<select id="crmShippingListGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_SHIPPING">
		EXEC SP_CRM_SHIPPINGLIST_GET #{start_date},#{end_date},#{keyword},#{keyword2}
    </select>

	<select id="wmsInvoiceFormAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_CRM_INVOICE_REPORT_ADD 
		#{supp_code} , 
		#{rpt_name} ,
		#{trans_code} ,
		#{notice1},
		#{notice2},
		#{notice3},
		#{notice4},
		#{notice5},
		#{notice6},
		#{signed_file},
		#{mark1},
		#{mark2},
		#{mark3},
		#{mark4},
		#{mark5},
		#{user_code},
		#{keyword}
    </select>

	<select id="wmsInvoiceFormGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_REPORT">
		EXEC SP_CRM_INVOICE_REPORT_GET2 #{page},#{rows},#{keyword},'','',#{sidx},#{sord}
	</select>
	<select id="wmsInvoiceFormOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_REPORT">
		EXEC SP_CRM_INVOICE_REPORT_GET 1,1,#{keyword},#{keyword2},#{keyword3}
	</select>
	<select id="wmsInvoiceFormDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_CRM_INVOICE_REPORT_DEL #{keyword}
    </select>
	<select id="wmsInvoiceGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE">
		EXEC SP_CRM_INVOICE_GET2 #{page},#{rows},#{start_date},#{end_date},#{keyword},'',#{sidx},#{sord}
	</select>

	<select id="invoiceRptNameGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_REPORT">
		SELECT RPT_NAME FROM CRM_INVOICE_REPORT WHERE SUPP_CODE = #{keyword} GROUP BY RPT_NAME
	</select>

	<select id="invoiceTransGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_REPORT">
		SELECT A.TRANS_CODE,H.TRANS_NAME
		FROM CRM_INVOICE_REPORT A
		LEFT JOIN (SELECT CODE_VALUE as TRANS_CODE,CODE_NAME1 TRANS_NAME FROM SYS_COMMON_CD WHERE CODE_TYPE ='TRANS_TYPE') H ON  A.TRANS_CODE = H.TRANS_CODE
		WHERE A.SUPP_CODE = #{keyword}
		AND A.RPT_NAME = #{keyword2}
	</select>

	<select id="wmsInvoiceAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_CRM_INVOICE_ADD
		#{req_no},
		#{supp_code},
		#{rpt_name},
		#{trans_code},
		#{item1},
		#{item2},
		#{item3},
		#{item4},
		#{notice1},
		#{notice2},
		#{notice3},
		#{notice4},
		#{notice5},
		#{notice6},
		#{signed_file},
		#{mark1},
		#{mark2},
		#{mark3},
		#{mark4},
		#{mark5},
		#{user_code},
        #{keyword}
    </select>
	<select id="wmsInvoiceOneGet" resultType="com.mes.mesCrm.Orders.DTO.CRM_INVOICE">
		EXEC SP_CRM_INVOICE_GET 1,1,'','','',#{keyword2}
	</select>

	<resultMap id="liId1" type="com.mes.mesCrm.Orders.DTO.CRM_INVOICE"></resultMap>

	<resultMap id="liId2" type="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_SUB"></resultMap>

	<resultMap id="liId3" type="com.mes.mesCrm.Orders.DTO.CRM_INVOICE_SUB1"></resultMap>

	<select id="crmInvoicePackingGet" resultMap="liId1, liId2, liId3">
    EXEC SP_CRM_INVOICE_PACKING_GET #{keyword}
    </select>
</mapper>
