<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesScm.Standard.ScmStandardMapper">


    <select id="sysPartSuppGet" resultType="com.mes.mesScm.Standard.DTO.SYS_PART_CD">
        	EXEC SP_SYS_PART_GET #{page}, #{rows},#{keyword}, #{keyword2}, #{keyword3},#{keyword4},#{keyword5},#{keyword6}
    </select>


    <select id="sysPartGet" resultType="com.mes.mesScm.Standard.DTO.SYS_PART_CD">
        	EXEC SP_SYS_PART_GET #{page},#{rows},#{keyword},#{keyword2},''
    </select>
    <select id="sysPartOneGet" resultType="com.mes.mesScm.Standard.DTO.SYS_PART_CD">
        	EXEC SP_SYS_PART_GET 1,1,#{keyword},#{keyword2},#{keyword3}
    </select>
    <select id="sysPartAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_ADD 
    	#{part_type},
	#{part_code},
	#{part_name},
	#{spec},
	#{unit_code},
	#{supp_code},
	#{supp_code2},
	#{supp_code3},
	#{supp_code4},
	#{supp_code5},
	#{loc_code},
	#{user_code},
	#{qc_level},
	#{keyword},
	#{stock_yn}
    </select>
    <select id="sysPartDel" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_DEL #{keyword}
    </select>

    <select id="sysLocGet" resultType="com.mes.mesScm.Standard.DTO.sysLoc">
        EXEC SP_SYS_LOC_GET #{page}, #{rows},'',#{keyword}
    </select>

    <select id="sysLocOneGet" resultType="com.mes.mesScm.Standard.DTO.sysLoc">
        EXEC SP_SYS_LOC_GET 1, 1, #{keyword},''
    </select>

    <select id="sysLocAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LOC_ADD #{cargo_code},#{loc_code},#{loc_name},#{user_code},#{keyword}
    </select>
    <select id="sysLocDelete" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LOC_DEL #{keyword}
    </select>
	 <select id="sysPartListGet" resultType="com.mes.mesScm.Standard.DTO.SYS_PART_CD">
    	EXEC SP_SYS_PART_LIST_GET #{page},#{rows},#{keyword} ,#{keyword2}
    </select>

	 <select id="sysPartCostGet" resultType="com.mes.mesScm.Standard.DTO.SYS_PART_CD">
    	EXEC SP_SYS_PART_COST_GET #{keyword}
    </select>

	<select id="sysPartCostAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_COST_ADD #{part_code} ,#{start_date},#{unit_cost},#{user_code}
    </select>

	<select id="sysPartCostDel" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_COST_DEL #{keyword}
    </select>



</mapper>
