<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesWms.Stock.WmsStockMapper">
    <select id="wmsStockListGet" resultType="com.mes.mesPop.Pop.DTO.POP_PLAN">
        EXEC SP_WMS_STOCK_GET #{page},#{rows}
    </select>

    <select id="wmsStockSumDayListGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_STOCK_GET_DAY #{page},#{rows},#{work_date},#{keyword},#{keyword2},#{keyword3},''
    </select>

    <select id="wmsStockSumMonthListGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_STOCK_GET_MONTH #{page},#{rows},#{work_date},#{keyword},#{keyword2},#{keyword3}
    </select>

    <select id="wmsStockSumGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_STOCK_GET_DAY #{page},#{rows},#{work_date},#{keyword},#{keyword2},#{keyword3}
    </select>

    <select id="wmsStockRevAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_WMS_STOCK_REV_ADD #{outs_supp_code}, #{supp_code}, #{part_kind}, #{part_code}, #{stock_qty_prev}, #{stock_qty},#{rev_code}, #{user_code}
    </select>

    <select id="wmsStockRevGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK_REV">
        EXEC SP_WMS_STOCK_REV_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},#{keyword3},''
    </select>

    <select id="wmsStockRevOneGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK_REV">
        EXEC SP_WMS_STOCK_REV_GET 1 ,1,'','','','','',#{keyword}
    </select>

    <select id="wmsOutsStockGet" resultType="Integer">
       EXEC SP_WMS_OUT_STOCK_ONE_GET #{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>

    <select id="wmsStockGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_STOCK_GET #{page},#{rows},#{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>

    <select id="wmsStockOneGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_STOCK_GET 1,1,#{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>

    <select id="wmsAllStockListGet" resultType="com.mes.mesWms.Stock.DTO.WMS_STOCK">
        EXEC SP_WMS_ALL_STOCK_LIST_GET3 #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>


</mapper>
