<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesCalendar.mesCalendar.CalendarMapper">

	<select id="calendarList" resultType="com.mes.mesCalendar.mesCalendar.DTO.CALENDAR">
		EXEC SP_PLAN_GET #{work_date}
    </select>

</mapper>
