<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesOut.mesOut.MesOutMapper">
    <select id="outsOutListGet" resultType="com.mes.mesOut.mesOut.DTO.OUTS_OUT_SUB">
            EXEC [SP_OUTS_OUT_SUB_DATE_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,#{keyword}
    </select>

    <select id="outsInListGet" resultType="com.mes.mesOut.inOut.DTO.OUTS_IO_SUB">
            EXEC SP_OUTS_IN_LIST_GET #{page},#{rows},#{start_date},#{end_date},#{keyword} ,#{keyword2},#{keyword3}
    </select>


    <select id="outsInReadyGet" resultType="com.mes.mesOut.mesOut.DTO.OUTS_IO_CD">
            EXEC [SP_OUTS_IN_SUB_READY_DATE_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,#{keyword}
    </select>

    <!--<select id="outsIOListGet" resultType="com.mes.mesOut.inOut.DTO.OUTS_IO_SUB">
            EXEC [SP_OUTS_IO_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,#{keyword},#{keyword2},#{keyword3}
    </select>-->

     <select id="outsOutAdd" resultType="com.mes.Common.DataTransferObject.Message">
            EXEC [SP_OUTS_OUT_ADD] #{in_no},#{work_date},#{user_code},#{code_list},#{keyword}
    </select>

     <select id="outsOutModalListGet" resultType="com.mes.mesOut.inOut.DTO.OUTS_IO_SUB">
            EXEC [SP_OUTS_OUT_MODAL_GET] 0,0,#{keyword},#{keyword2},#{keyword3},#{keyword4}
    </select>

    <select id="outsOutGet" resultType="com.mes.mesOut.inOut.DTO.OUTS_IO_SUB">
            EXEC [SP_OUTS_OUT_GET] #{page},#{rows},#{start_date},#{end_date},#{keyword} ,#{keyword2},#{keyword3}
    </select>

    <select id="outsIOGet" resultType="com.mes.mesOut.inOut.DTO.OUTS_IO_SUB">
           EXEC [SP_OUTS_IO_GET]  #{page}, #{rows}, #{start_date}, #{end_date} ,#{keyword},#{keyword2},#{keyword3}
    </select>

<select id="outsOutDel" resultType="com.mes.Common.DataTransferObject.Message">
           EXEC [SP_OUTS_OUT_DEL]  #{keyword}
    </select>


</mapper>
