<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesCrm.mesCrm.CrmMapper">

	<select id="crmOrderRecpGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET #{page}, #{rows},#{start_date}, #{end_date}, #{keyword},#{keyword2},#{keyword3},''
    </select>

	<select id="crmOrderRecpOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET 1, 1,'', '', '','','',#{keyword}
    </select>

	<select id="crmOrderRecpAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_ORD_RECP_ADD #{ord_no},#{work_date},#{supp_code},#{place_name},#{emp_name},#{emp_tel},#{ord_name},
						#{status},#{target_date},#{end_date},#{order_amount},#{amount1},#{amount2},#{amount3},#{amount4},
						#{balance},#{remark},#{user_code},#{keyword}
	</select>

	<select id="crmOrderRecpDel" resultType="com.mes.Common.DataTransferObject.Message">
	   	EXEC SP_CRM_ORD_RECP_DEL  #{keyword}
	</select>


	<select id="crmImageGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_IMAGE">
	   	SELECT
		(SELECT IMG_FILE FROM CRM_ORD_RECP_IMG WHERE SEQ = 1 AND ORD_NO = #{ord_no} ) IMAGE1,
		(SELECT IMG_FILE FROM CRM_ORD_RECP_IMG WHERE SEQ = 2 AND ORD_NO = #{ord_no} ) IMAGE2,
		(SELECT IMG_FILE FROM CRM_ORD_RECP_IMG WHERE SEQ = 3 AND ORD_NO = #{ord_no} ) IMAGE3,
		(SELECT IMG_FILE FROM CRM_ORD_RECP_IMG WHERE SEQ = 4 AND ORD_NO = #{ord_no} ) IMAGE4,
		(SELECT IMG_FILE FROM CRM_ORD_RECP_IMG WHERE SEQ = 5 AND ORD_NO = #{ord_no} ) IMAGE5
	</select>
	<insert id="crmImageAdd" >
		INSERT INTO CRM_ORD_RECP_IMG(ORD_NO,IMG_FILE,SEQ)
		VALUES (#{keyword},#{keyword3},#{page});
    </insert>
	<delete id="crmImageDelete">
		DELETE FROM CRM_ORD_RECP_IMG
		WHERE SEQ = #{page} AND ORD_NO = #{keyword}
	</delete>
	<select id="crmImageAllGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP_IMG">
		SELECT * FROM CRM_ORD_RECP_IMG WHERE ORD_NO = #{c2}
	</select>

	<delete id="crmImageAllDel">
		DELETE FROM CRM_ORD_RECP_IMG
		WHERE ORD_NO = #{c2}
	</delete>

	<select id="crmMoneyGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_MONEY_GET #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},#{keyword3},''
	</select>

	<select id="crmMoneyOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_MONEY_GET 1,1,'','','','','',#{ord_no}
	</select>

	<select id="crmMoneyAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_MONEY_ADD #{in_date1},#{in_date2},#{in_date3},#{in_date4},#{amount1},#{amount2},#{amount3},#{amount4},#{remark},#{ord_no},#{user_code},#{keyword}
	</select>

	<select id="crmMoneyComp" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_MONEY_COMP #{keyword}
	</select>

<!--    <select id="crmRecpAdd" resultType="com.mes.Common.DataTransferObject.Message">-->
<!--    	EXEC SP_CRM_ORD_RECP_ADD-->
<!--    	#{ord_no},#{work_date},#{status1},#{status2},#{end_date},#{supp_code},#{end_supp_code},#{part_type},-->
<!--    	#{part_grp_code},#{part_code},#{work_type},#{connector1},#{connector2},#{part_length},#{qty},#{unit_type},#{tube},-->
<!--    	#{option1},#{option2},#{option3},#{remark},#{crm_type},#{delivery},#{delivery_corp},#{delivery_price},#{sale_type},-->
<!--		#{price_type},#{prod_type},#{sample},#{currency_type},#{unit_price},#{price},#{supp_ord_no},#{payment},#{supp_user_name},-->
<!--    	#{supp_tel_no},#{user_code},#{keyword}-->
<!--    </select>-->

<!--	<select id="crmProdOrderGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">-->
<!--		EXEC SP_CRM_ORD_RECP_GET #{page}, #{rows},#{start_date}, #{end_date}, ''-->
<!--    </select>-->

<!--	<select id="crmProdOrderOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">-->
<!--		EXEC SP_CRM_ORD_RECP_GET 1, 1,'', '', #{ord_no}-->
<!--    </select>-->

<!--	<select id="crmWorkListGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">-->
<!--		EXEC SP_CRM_ORD_RECP_PROFIT_GET  #{page}, #{rows}, #{start_date}, #{keyword2} , #{keyword} ,#{keyword3},#{keyword4},#{keyword5},''-->
<!--	</select>-->

<!--	<select id="crmWorkListOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_ORD_RECP">-->
<!--		EXEC SP_CRM_ORD_RECP_PROFIT_GET  1, 1, '', '' , '' ,'','','0',#{ord_no}-->
<!--	</select>-->


<!--	<select id="crmOrderRecpAdd" resultType="com.mes.Common.DataTransferObject.Message">-->
<!--    	EXEC SP_CRM_ORD_RECP_ADD-->

<!--    	#{ord_no},-->
<!--    	#{work_date},-->
<!--    	#{status1},-->
<!--    	#{status2},-->

<!--    	#{end_date},-->
<!--    	#{supp_code},-->
<!--    	#{end_supp_code},-->
<!--    	#{part_type},-->
<!--    	#{part_group1},-->
<!--    	#{part_group2},-->
<!--    	#{part_code},-->

<!--    	#{work_type},-->
<!--    	#{connector1},-->
<!--    	#{connector2},-->
<!--    	#{part_length},-->
<!--    	#{length_type},-->

<!--    	#{qty},-->
<!--    	#{unit_type},-->
<!--    	#{tube},-->
<!--    	#{option1},-->
<!--    	#{option2},-->

<!--    	#{remark},-->
<!--    	 #{crm_type},-->
<!--    	#{delivery},-->
<!--    	#{delivery_corp},-->
<!--    	#{delivery_price},-->

<!--    	#{sale_type},-->
<!--    	#{price_type},-->
<!--    	#{prod_type},-->
<!--    	#{sample},-->
<!--    	#{currency_type},-->

<!--    	#{unit_price},-->
<!--    	#{price},-->
<!--    	#{supp_ord_no},-->
<!--    	#{supp_user_name},-->
<!--    	#{supp_tel_no},-->

<!--		#{delivery_addr},-->
<!--    	#{user_code},-->
<!--    	#{req_type},-->
<!--    	'I'-->
<!--    </select>-->

	<select id="crmPlanGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_PLAN">
		EXEC SP_CRM_PLAN_GET  #{page}, #{rows},#{start_date}, #{end_date}
	</select>

	<select id="crmPlanOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_PLAN">
		EXEC SP_CRM_PLAN_GET  1, 1, #{plan_year},#{plan_year}
	</select>

	<select id="crmPlanAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_CRM_PLAN_ADD  #{plan_year} ,#{plan1},#{plan2},#{plan3},#{plan4},#{plan5},#{plan6},#{plan7},#{plan8},#{plan9},#{plan10},#{plan11},#{plan12},#{remark},#{user_code},#{keyword}
    </select>

	<select id="crmPlanDelete" resultType="com.mes.Common.DataTransferObject.Message">
	exec SP_CRM_PLAN_DEL #{keyword}
	</select>

	<select id="crmWorkListUpdate" resultType="com.mes.Common.DataTransferObject.Message">

		exec SP_CRM_WORK_LIST_ADD #{plan_year},#{work1},#{work2},#{work3},#{work4},#{work5},#{work6},#{work7},#{work8},#{work9},#{work10},#{work11},#{work12},#{remark2},#{in1},#{in2},#{in3},#{in4},#{in5},#{in6},#{in7},#{in8},#{in9},#{in10},#{in11},#{in12},#{remark3},#{user_code},#{keyword}

	</select>


	<select id="crmWeAddUpdate" resultType="com.mes.Common.DataTransferObject.Message">

	EXEC SP_CRM_WE_ADD #{we_no},#{work_date},#{supp_name},#{reference},#{tel},#{fax},#{work_name},#{remark},#{Keyword2},#{save_type},#{user_code}
	</select>

	<select id="crmWeList" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WE">
		EXEC SP_CRM_WE_LIST_GET #{page},#{rows},#{start_date}, #{end_date},#{keyword}
	</select>

	<select id="crmWeOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WE">
		EXEC SP_CRM_WE_LIST_ONE_GET #{page},#{rows},#{we_no}
	</select>

	<select id="crmWeListOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WE">
		EXEC SP_CRM_WE_SUP_PDF_GET #{we_no}
	</select>

	<select id="crmWeDelete" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_WE_DEL #{we_no}
	</select>
	<select id="sysWoodAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_WOOD_ADD #{wood_code} ,#{unit_cost},#{user_code},#{keyword}
	</select>

	<select id="sysWoodGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WOOD">
		EXEC SP_CRM_WOOD_GET #{page},#{rows},#{keyword}
	</select>

	<select id="sysWoodOneGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WOOD">
		EXEC SP_CRM_WOOD_GET 1,1,#{keyword}
	</select>

	<select id="sysWoodDelete" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_CRM_WOOD_DEL #{keyword}
	</select>

	<select id="sysWoodAllGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_WOOD">
		EXEC SP_CRM_WOOD_SELECT_GET #{keyword}
	</select>

	<select id="sysSpartAdd" resultType="com.mes.Common.DataTransferObject.Message">
		EXEC SP_SYS_SPART_ADD #{supp_code},#{part_kind},#{part_code},#{part_name},#{part_weight},#{gross_weight},#{part_size},#{unit_cost},#{currency_code},#{route_code},#{outs_supp_code},#{trans_code},#{use_yn},#{startup_date},#{wood_code1},#{wood_code2},#{wood_code3},#{keyword},#{outs_qc}
	</select>

	<select id="sysSpartGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_SPART">
		EXEC SP_SYS_SPART_GET_LIST #{page},#{rows},#{keyword},#{keyword2},#{keyword3}
	</select>

	<select id="partKindGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_SPART">
		EXEC SP_CRM_PARTKIND_SELECT_GET #{keyword},#{keyword2}
	</select>

	<select id="sysSpartCostGet" resultType="com.mes.mesCrm.mesCrm.DTO.CRM_SPART">
		EXEC SP_SYS_SPART_COST_GET_LIST #{page},#{rows},#{keyword},#{keyword2},#{keyword3}
	</select>

</mapper>
