<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesQms.Middle.QmsMiddleMapper">
    <select id="qmsProdMiddleListGet" resultType="com.mes.mesQms.Middle.DTO.QMS_PROD">
       EXEC SP_QMS_PROD_MIDDLE_LIST_GET4 #{page},#{rows},#{start_date},#{end_date},#{keyword},#{keyword2},#{keyword3},'',#{keyword4},#{sidx},#{sord}
    </select>

    <select id="qmsProdMiddleListOneGet" resultType="com.mes.mesQms.Middle.DTO.QMS_PROD">
       EXEC SP_QMS_PROD_MIDDLE_LIST_GET2 1,1,'','','','','',#{keyword},''
    </select>

    <select id="qmsProdMiddleSubGet" resultType="com.mes.mesQms.Middle.DTO.QMS_PROD">
       EXEC SP_QMS_PROD_MIDDLE_SUB_GET #{keyword}
    </select>

    <select id="qmsProdMiddleErrorListSumGet" resultType="com.mes.mesQms.Middle.DTO.QMS_PROD_NG_SUM">
       EXEC SP_QMS_PROD_NG_SUM_GET #{start_date},#{end_date},#{keyword},#{keyword2}
    </select>

    <select id="qmsProdMiddleErrorManFileAdd" resultType="com.mes.Common.DataTransferObject.Message">
       EXEC SP_QMS_PROD_MIDDLE_ERROR_ADD #{key1},#{key2},#{key3},#{key4},#{key_value},#{user_code}
    </select>
    <select id="qmsProdMiddleErrorManAdd" resultType="com.mes.Common.DataTransferObject.Message">
       EXEC SP_QMS_PROD_MIDDLE_ERROR_ADD #{key1},#{key2},#{key3},#{key4},'',#{user_code}
    </select>

    <select id="qmsProdMiddleFileGet" resultType="com.mes.mesQms.Middle.DTO.QMS_PROD_FILE">
       SELECT * FROM QMS_PROD_FILE WHERE QC_NO = #{keyword} ORDER BY SEQ
    </select>

    <select id="qmsProdMiddleListDel" resultType="com.mes.Common.DataTransferObject.Message">
       EXEC SP_QMS_PROD_MIDDLE_DEL #{keyword}
    </select>
</mapper>
