<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.Mapper.mesManager.Master.MasterMapper">
    <select id="sysSuppListGet" resultType="com.mes.mesManager.Master.DTO.SYSSupp">
        EXEC SP_SYS_SUPP_GET #{page},#{rows},#{keyword}
    </select>

    <select id="sysSuppListDel" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_SYS_SUPP_DEL #{keyword}
    </select>

    <select id="sysSuppOneGet" resultType="com.mes.mesManager.Master.DTO.SYSSupp">
        EXEC SP_SYS_SUPP_ONE_GET #{keyword},#{keyword2}
    </select>

    <select id="sysSuppAdd" resultType="com.mes.Common.DataTransferObject.Message">
        EXEC SP_SYS_SUPP_ADD

       #{supp_code},
	#{supp_name},
	#{ceo},
	#{supp_name2},
	#{supp_no},
	#{category}	,
	#{buss_type},
	#{tel_no},
	#{fax_no},
	#{address},
	#{address2},
	#{delivery_place1},
	#{delivery_place2},
	#{delivery_place3},
	#{emp_name},
	#{emp_tel},
	#{emp_email},
	#{corp_type1},
	#{corp_type2},
	#{corp_type3},
	#{corp_type4},
	#{user_code},
	#{keyword},
	#{remark},
	#{use_yn}
    </select>

    <select id="autocomplete_Supp_Name" resultType="com.mes.mesManager.Master.DTO.SYSSupp">
    select supp_name from SYS_SUPP_CD where supp_name like CONCAT('%',#{keyword},'%')
    </select>
    <select id="autocomplete_Supp_no" resultType="com.mes.mesManager.Master.DTO.SYSSupp">
    select supp_no from SYS_SUPP_CD where supp_no like CONCAT('%',#{keyword},'%')
    </select>

    <select id="sysSuppFileUpdate">
        UPDATE SYS_SUPP_CD
        SET
            FILE1 = #{key_value}
        WHERE
            SUPP_CODE = #{key1}
    </select>

    <select id="fileCdDelete">
        DELETE FROM SYS_FILE_CD WHERE KEY_VALUE = #{key_value}
    </select>
</mapper>


